@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  border: 1px solid white;
} */

/* Hide the scrollbar */
::-webkit-scrollbar {
  width: 0.4em;
  background-color: transparent;
}

/* Optional: Customize scrollbar track color */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Optional: Customize scrollbar thumb color */
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
}
