@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
* {
  /* background-color: black; */
  /* border: 1px solid white; */
  /* border: 1px solid red; */
  font-family: "Inter", sans-serif;
}
.font-primary {
  font-family: "Space Grotesk", sans-serif !important;
}
.fs-99 {
  font-size: 96px !important;
}
@media (max-width: 767.98px) {
  .fs-99 {
    font-size: 66px !important;
  }
}
.border-red {
  border: 3px solid red;
}

.btn-custom-outline-white {
  border: 1px solid #ffffff;
  border-radius: 50px;
  padding: 14px 24px;
  color: white;
}
.btn-custom-outline-white:hover {
  background-color: white;
  color: black;
}
.btn-custom-outline-white-2 {
  border: 1px solid black;
  border-radius: 50px;
  padding: 14px 24px;
  color: black;
}
.btn-custom-outline-white-2:hover {
  background-color: black;
  color: white;
}
.text-secondary {
  color: #979797 !important;
}
#myNavbar.bg-dark {
  transition: all 0.3s;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}
#myNavbar.bg-transparent {
  transition: all 0.3s;
}
#jumbotron {
  height: 100vh;
  background-image: url("/assets/bg-jumbotron.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.destination {
  bottom: -65px;
}

#tourist-spot {
  min-height: 50vh;
}

#most-populer {
  min-height: 60vh;
  background-color: white;
}

.rating {
  background: rgba(19, 15, 38, 0.3);
  backdrop-filter: blur(10px);
  padding: 7px;
  border-radius: 20px;
  color: white;
  top: 15px;
  right: 15px;
}
.card-destination img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  border-radius: 40px;
}
#destination {
  background-color: #f9f9f9;
  min-height: 80vh;
}

#destination .floating {
  width: 200px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 50px;
}
#destination .floating.first {
  top: 100px;
}
#destination .floating.second {
  bottom: 80px;
  left: 40px;
}

#destination .floating.third {
  top: 160px;
  right: 40px;
}
#instagram {
  min-height: 80vh;
}
.img-instagram {
  border-radius: 30px;
}

.ig-icon {
  top: 20px;
  right: 30px;
}

#plan {
  background-color: #f9f9f9;
  min-height: 80vh;
}
#footer {
  min-height: 50vh;
}
